@import "./components/header.css";
@import "./components/main.css";
@import "./components/card.css";
@import "./components/footer.css";
@import "./components/switch.css";

/* Variables */

:root {
    --text-xs: 0.725rem;
    --text-sm: 0.85rem;
    --text-md: 1rem;
    --text-lg: 1.5rem;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    --color-primary-dark: rebeccapurple;
    --color-primary-light: mediumpurple;
    --color-secondary: MediumOrchid;
    --color-bg: lavender;
    --color-white: white;
    --color-black: black;

    --card-bg: lavender;
    --card-text: black;

    --tag-bg: white;
    --tag-text: rebeccapurple;
}


/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Elements */

body {
    min-height: 100vh;
    font-family: "Capriola", sans-serif;
    background-image: linear-gradient(to bottom right, azure, LightGoldenRodYellow, aqua
    , hotpink);

}

  