@import "./components/header.css";
@import "./components/main.css";
@import "./components/card.css";
@import "./components/footer.css";
@import "./components/switch.css";
@import "./components/form.css";

/* Variables */

:root {
  --text-xs: 0.725rem;
  --text-sm: 0.85rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

}


/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Elements */

html {
    background-color: #181818;
}

body {
    max-width: 420px;
    min-height: 100vh;
    padding-bottom: 100px;
    font-family: "Capriola", sans-serif;
    background-image: var(--gradient-bg);
    margin: auto;
}

a:focus-visible, button:focus-visible {
  outline-offset: 2px;
  outline-color: var(--color-primary-extradark);
}

.text__hidden {
  display: none;
}

/* Colors */

.light {
  --color-primary-extradark: indigo;
  --color-primary-dark: rebeccapurple;
  --color-primary-light: mediumpurple;
  --color-secondary: MediumOrchid;
  --color-bg: lavender;
  --color-white: white;
  --color-black: black;
  
  --gradient-bg: linear-gradient(to bottom right, azure, LightGoldenRodYellow, aqua
  , hotpink);
  --gradient-button: linear-gradient(to bottom, mediumpurple, MediumOrchid);

  --card-bg: lavender;
  --card-text: black;

  --tag-bg: white;
  --tag-text: rebeccapurple;
}

.dark {
  --color-primary-extradark: mediumpurple;
  --color-primary-dark: purple;
  --color-primary-light: darkmagenta;
  --color-secondary:indigo;
  --color-bg: darkslateblue;
  --color-white: #292929;
  --color-black: white;
  
  --gradient-bg: linear-gradient(to bottom right, midnightblue, darkslateblue, darkmagenta
  , indigo);
  --gradient-button: linear-gradient(to bottom, violet, plum);

  --card-bg: mediumpurple;
  --card-text: white;

  --tag-bg: indigo;
  --tag-text: lavender;
}