.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--card-bg);
    color: var(--card-text);
    padding: var(--spacing-lg);
    gap: var(--spacing-md);
    border-radius: var(--spacing-xs);
    min-width: 300px; 
    flex: 1 1 30%;
  }
  
  .card__text {
    margin: 0 0 var(--spacing-sm) 0;
    text-align: center;
  }

  .card__categories {
    display: flex;
    gap: var(--spacing-xs);
  }

  .card__tag {
    font-size: var(--text-xs);
    padding: var(--spacing-xs);
    border-radius: var(--spacing-xs);
    background-color: var(--tag-bg);
    color: var( --tag-text);
  }

  .card__button {
    font-size: var(--text-md);
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--spacing-xs);
    background-color: var(--color-primary-light);
    border: none;
    color: var( --color-white);
  }

  .card__icon-button {
    position: absolute;
    right: var(--spacing-xs);
    top: -10px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }

  .card__bookmark {
    width: 32px;
  }