header {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
}

.header__title {
    font-family: "Bungee Spice", sans-serif;
    font-size: 40px;
}