header {
    display: flex;
    gap: var(--spacing-sm);
    justify-content: center;
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
}

.header__image {
    max-width: 50px;
}

.header__title {
    font-family: "Bungee Shade", sans-serif;
    font-size: 32px;
}